<h2>{{movie.title}}</h2>
<hr>
<img src="{{movie.poster}}" alt="">
<p>Year: {{movie.year}}</p>
<p>Time: {{movie.runtime}}</p>
<p>Director: {{movie.director}}</p>
<p>Writer: {{movie.writer}}</p>
<p>Actors: {{movie.actors}}</p>
<p>Plot: {{movie.plot}}</p>
<p>Awards: {{movie.awards}}</p>
<p>Metascore: {{movie.metascore}}</p>
<p>Rating: {{movie.rating}}</p>

    {{#if user}}
    {{#contains moviesIds movie.imdbid}}
    <p>Already added to favorites</p>

    {{else}}
        <form action="/movies/{{movie.imdbid}}/watchlist" method="POST">
        <button type="submit">Add watchlist</button>
    </form>
    {{/contains}}
    {{else}}
           <form action="/login">
        <button type="submit">Login</button>
    </form>
 
    {{/if}}
    
    