<style>
ul {
  list-style-type: none;
}

.letter-color {
  text-decoration: none;
}

.letter-color:hover {
  color: #0B5ED7;
}
.watchlist-list{
  display: flex;
  justify-content: space-between;
}
.watchlist-delete-btn{
  justify-content: right;
  margin-bottom: 15px;
}
</style>
<br>
<h2>Watchlist</h2>
<br>
<div class="row">
  {{#each watchlist}}
  <hr>
    <div class="col-md-12 watchlist-list">
        <a class="letter-color" href="/movies/{{movie.id}}">{{movie.title}}</a>
        <div class="watchlist-delete-btn">
          <form action="/movies/{{id}}/delete" method="POST">
          <button class="btn btn-outline-primary" type="submit">Delete</button>
          </form>
        </div>
    </div>
  {{/each}}
</div>
    <br>














{{!-- <h2>Watchlist</h2>
<ul>{{#each watchlist}}
  <li>{{movie.title}}</li>
  <form action="/movies/{{id}}/delete" method="POST">
    <button type="submit">Delete</button>
  </form>

  {{/each}}
</ul> --}}

